<template name="menu">
  <form>
    <input type="text" name="menuitem" id="menuitem" >
    <input type="number" id="itemprice">
    <button type="button" name="button" id="addtomenu">add to menu</button>
  </form>
</template>
