<template name="createGroup">
  <form>
  		<input type="text" name="name-of-new-group" id="name-of-new-group">
  		<input type="submit" name="create-new-group" id="create-new-group">
  	</form>
    
</template>
