<template name="mainPage">
  <a href="/addgroup" class="btn btn-primary">Create Group</a>
  <br>

  {{#each groups}}
  <div class="contaiver group">

	 		    {{groupname}}
          {{#if isAdmin}}
              <a href="group/addusers/{{_id}}">Add Users</a>
          {{/if}}
          <a href="/group/editmenu/{{_id}}">Edit Menu </a>
	</div>
 {{/each}}
</template>
